.btn-block {
    width: 100%;
}

.mdl-card__subtitle-text {
    font-weight: 700;
}

.forecast {
    background-color: rgb(3,169,244);
}

/* Actions */
.weather-display.activeWeatherDisplay {
    opacity: 1;
}

.weather-display {
    opacity: 0;
}